@font-face {
    font-family: ShagLounge;
    src: url(fonts/Shag-Lounge.otf);
}

body{
    background-color: cyan;
}

h1{
    font-family: ShagLounge;
    color: white;
}

h2{
    font-family: sans-serif;
}

#desciption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    color: #240079;
}

#toonstext{
color: maroon;

}

